.css_intveiculoid_det_label {text-align: right;vertical-align: middle;}
.css_intveiculoid_det_line {height:0px;text-align: right;}
.css_strveiculo_det_label {text-align: right;vertical-align: middle;}
.css_strveiculo_det_line {height:0px;text-align: right;}
.css_dtalancamento_det_label {text-align: right;vertical-align: middle;}
.css_dtalancamento_det_line {height:0px;text-align: right;}
.css_strcaracteristicas_det_label {text-align: right;vertical-align: middle;}
.css_strcaracteristicas_det_line {height:0px;text-align: right;}
.css_imgveiculo_det_label {text-align: right;vertical-align: middle;}
.css_imgveiculo_det_line {height:0px;text-align: right;}
.css_bolforalinha_det_label {text-align: right;vertical-align: middle;}
.css_bolforalinha_det_line {height:0px;text-align: right;}
