.css_intnaoconformidadeid_det_label {text-align: left;vertical-align: middle;}
.css_intnaoconformidadeid_det_line {height:0px;text-align: left;}
.css_intpecaid_det_label {text-align: left;vertical-align: middle;}
.css_intpecaid_det_line {height:0px;text-align: left;}
.css_strobservacao_det_label {text-align: left;vertical-align: middle;}
.css_strobservacao_det_line {height:0px;text-align: left;}
.css_intstatusncid_det_label {text-align: left;vertical-align: middle;}
.css_intstatusncid_det_line {height:0px;text-align: left;}
