.css_intstatusncid_det_label {text-align: right;vertical-align: middle;}
.css_intstatusncid_det_line {height:0px;text-align: right;}
.css_strstatusnc_det_label {text-align: right;vertical-align: middle;}
.css_strstatusnc_det_line {height:0px;text-align: right;}
