.css_intnoticiaid_det_label {text-align: right;vertical-align: middle;}
.css_intnoticiaid_det_line {height:0px;text-align: right;}
.css_dtanoticia_det_label {text-align: right;vertical-align: middle;}
.css_dtanoticia_det_line {height:0px;text-align: right;}
.css_strtitulo_det_label {text-align: right;vertical-align: middle;}
.css_strtitulo_det_line {height:0px;text-align: right;}
.css_strnoticia_det_label {text-align: right;vertical-align: middle;}
.css_strnoticia_det_line {height:0px;text-align: right;}
.css_imgnoticia_det_label {text-align: right;vertical-align: middle;}
.css_imgnoticia_det_line {height:0px;text-align: right;}
.css_bolfeed_det_label {text-align: right;vertical-align: middle;}
.css_bolfeed_det_line {height:0px;text-align: right;}
