.css_intnoticiaid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_intnoticiaid_grid_line {vertical-align: top;text-align: right;}
.css_dtanoticia_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dtanoticia_grid_line {vertical-align: top;text-align: center;}
.css_strtitulo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strtitulo_grid_line {vertical-align: top;text-align: right;}
.css_strnoticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strnoticia_grid_line {vertical-align: top;text-align: right;}
.css_imgnoticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_imgnoticia_grid_line {vertical-align: top;text-align: right;}
.css_bolfeed_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bolfeed_grid_line {vertical-align: top;text-align: right;}
