.css_strpeca_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strpeca_grid_line {vertical-align: top;text-align: right;}
.css_strcaracteristicas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strcaracteristicas_grid_line {vertical-align: top;text-align: right;}
.css_imgpeca_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_imgpeca_grid_line {vertical-align: top;text-align: right;}
.css_bolforalinha_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bolforalinha_grid_line {vertical-align: top;text-align: right;}
.css_intpecaid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_intpecaid_grid_line {vertical-align: top;text-align: right;}
