.css_intpecaid_det_label {text-align: left;vertical-align: middle;}
.css_intpecaid_det_line {height:0px;text-align: left;}
.css_strpeca_det_label {text-align: left;vertical-align: middle;}
.css_strpeca_det_line {height:0px;text-align: left;}
.css_strcaracteristicas_det_label {text-align: left;vertical-align: middle;}
.css_strcaracteristicas_det_line {height:0px;text-align: left;}
.css_imgpeca_det_label {text-align: left;vertical-align: middle;}
.css_imgpeca_det_line {height:0px;text-align: left;}
.css_bolforalinha_det_label {text-align: left;vertical-align: middle;}
.css_bolforalinha_det_line {height:0px;text-align: left;}
