.css_intpecaid_label { }
.css_intpecaid_line {text-align:left;}
.css_intpecaid_obj {text-align:left;}
.css_strpeca_label { }
.css_strpeca_line { }
.css_strpeca_obj { }
.css_strcaracteristicas_label { }
.css_strcaracteristicas_line { }
.css_strcaracteristicas_obj { }
.css_imgpeca_label { }
.css_imgpeca_line { }
.css_imgpeca_obj { }
.css_bolforalinha_label { }
.css_bolforalinha_line {text-align:left;}
.css_bolforalinha_obj {text-align:left;}
