.css_intnaoconformidadeid_det_label {text-align: left;vertical-align: middle;}
.css_intnaoconformidadeid_det_line {height:0px;text-align: left;}
.css_dtaidentificacao_det_label {text-align: left;vertical-align: middle;}
.css_dtaidentificacao_det_line {height:0px;text-align: left;}
.css_strnaoconformidade_det_label {text-align: left;vertical-align: middle;}
.css_strnaoconformidade_det_line {height:0px;text-align: left;}
.css_strdescricao_det_label {text-align: left;vertical-align: middle;}
.css_strdescricao_det_line {height:0px;text-align: left;}
.css_intstatusncid_det_label {text-align: left;vertical-align: middle;}
.css_intstatusncid_det_line {height:0px;text-align: left;}
