.css_intnaoconformidadeid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_intnaoconformidadeid_grid_line {vertical-align: top;text-align: right;}
.css_dtaidentificacao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_dtaidentificacao_grid_line {vertical-align: top;text-align: center;}
.css_strnaoconformidade_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strnaoconformidade_grid_line {vertical-align: top;text-align: right;}
.css_strdescricao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_strdescricao_grid_line {vertical-align: top;text-align: right;}
.css_intstatusncid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_intstatusncid_grid_line {vertical-align: top;text-align: right;}
.css_veiculos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_veiculos_grid_line {text-align: center;}
.css_pecas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_pecas_grid_line {text-align: center;}
