.css_intnaoconformidadeid_det_label {text-align: right;vertical-align: middle;}
.css_intnaoconformidadeid_det_line {height:0px;text-align: right;}
.css_intveiculoid_det_label {text-align: right;vertical-align: middle;}
.css_intveiculoid_det_line {height:0px;text-align: right;}
.css_strobservacao_det_label {text-align: right;vertical-align: middle;}
.css_strobservacao_det_line {height:0px;text-align: right;}
.css_intstatusncid_det_label {text-align: right;vertical-align: middle;}
.css_intstatusncid_det_line {height:0px;text-align: right;}
