.css_intnoticiaid_label { }
.css_intnoticiaid_line {text-align:left;}
.css_intnoticiaid_obj {text-align:left;}
.css_dtanoticia_label { }
.css_dtanoticia_line { }
.css_dtanoticia_obj { }
.css_strtitulo_label { }
.css_strtitulo_line { }
.css_strtitulo_obj { }
.css_strnoticia_label { }
.css_strnoticia_line { }
.css_strnoticia_obj { }
.css_imgnoticia_label { }
.css_imgnoticia_line { }
.css_imgnoticia_obj { }
.css_bolfeed_label { }
.css_bolfeed_line {text-align:left;}
.css_bolfeed_obj {text-align:left;}
